<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194895027516-pv7e4cuf4e6v7at4klakclsj8khaabdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194895027516-pv7e4cuf4e6v7at4klakclsj8khaabdh</string>
	<key>API_KEY</key>
	<string>AIzaSyBzJSC0HkZr3Wv1GZfbIap7lOaeJbvOKFI</string>
	<key>GCM_SENDER_ID</key>
	<string>194895027516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumitarvikat.JoshChat</string>
	<key>PROJECT_ID</key>
	<string>joshchat-5d267</string>
	<key>STORAGE_BUCKET</key>
	<string>joshchat-5d267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194895027516:ios:58aa2114e6b5c8ad4a9239</string>
</dict>
</plist>